---
import { Picture } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import ozeo from "../assets/ozeo/wireframe.png";



---

<Layout title="Wordpress">
  <Sectionhead>
    <Fragment slot="title">
		Redesign e-shopu s designovým nábytkem pro děti
    </Fragment>
  </Sectionhead>

  
  <Container>
    <article class="reference-content">

      <section>
        <ul>
          <li>Název společnosti: Benlemi</li>
          <li>Odvětví: nábytek a bytové doplňky</li>
          <li>Cíl: Redesign zaběhnutého e-shopu, který zákazníkům nabídne bezproblémové nakupování online.</li>
          <li>Platforma: Shoptet</li>
          <li>Časový plán: 2020 - nyní</li>
        </ul>
      </section>
        

      <section>
        <h2>Úvod</h2>
        <p>Benlemi se stalo významným hráčem na trhu s nábytkem a bytovými doplňky v České republice a její výrobky jsou ceněny pro svůj design a kvalitu.</p>
        <p>Zabývá se výrobou a prodejem nábytku a bytových doplňků, které jsou vyráběny především z přírodních materiálů, jako je dřevo, kůže nebo kov.</p>
		<p>Rozhodli se modernizovat svůj e-shop, postavený na platformě Shoptet. Cílem bylo zlepšit uživatelskou zkušenost, zvýšit prodeje a zlepšit zpětnou vazbu od zákazníků.</p>

      </section>
      

      <section>
        <h2>Pochopení požadavků klienta</h2>
        <p>Projekt byl zahájen podrobnou diskusí, jejímž cílem bylo nadefinovat specifické požadavky projektu.</p>
        <p>To zahrnovalo pochopení jejich značky, cílové skupiny, kategorií produktů a požadovaných funkcí.</p>
      </section>



      <section>
        <h2>Analýza a průzkum</h2>

      </section>
      

      <section>
        <h2>Branding a vizuální design</h2>

      </section>


      <section>
        <h2>Fáze návrhu</h2>

      </section>


      <section>
        <h2>Fáze vývoje</h2>

      </section>


      <section>
        <h2>Testování a zajištění kvality</h2>

      </section>
    

      <section>
        <h2>Výsledky</h2>

      </section>
      

      <section>
        <h2>Závěr</h2>

      </section>

    </article>
  </Container>
</Layout>