---
import { Picture } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";



import design from "../assets/benlemi/design.png";

---

<Layout title="Redesign e-shopu s designovým nábytkem pro děti">
  <Sectionhead>
    <Fragment slot="title">
		Redesign e-shopu s designovým nábytkem pro děti
    </Fragment>
  </Sectionhead>

  
  <Container>
    <article class="reference-content">

      <section>
        <ul>
          <li>Název společnosti: Benlemi</li>
          <li>Odvětví: nábytek a bytové doplňky</li>
          <li>Cíl: Redesign zaběhnutého e-shopu, který zákazníkům nabídne bezproblémové nakupování online.</li>
          <li>Platforma: Shoptet</li>
          <li>Časový plán: 2020 - nyní</li>
        </ul>
      </section>
        


      <section>
        <h2>Úvod</h2>
        <p>Benlemi se stalo významným hráčem na trhu s nábytkem a bytovými doplňky v České republice a její výrobky jsou ceněny pro svůj design a kvalitu.</p>
        <p>Zabývá se výrobou a prodejem nábytku a bytových doplňků, které jsou vyráběny především z přírodních materiálů, jako je dřevo, kůže nebo kov.</p>
		    <p>Rozhodli se modernizovat svůj e-shop, postavený na platformě Shoptet. Cílem bylo zlepšit uživatelskou zkušenost, zvýšit prodeje a zlepšit zpětnou vazbu od zákazníků.</p>
      </section>
      

      <section>
        <h2>Pochopení požadavků klienta</h2>
        <p>Projekt byl zahájen podrobnou diskusí, jejímž cílem bylo nadefinovat specifické požadavky projektu.</p>
        <p>To zahrnovalo pochopení jejich značky, cílové skupiny, kategorií produktů a požadovaných funkcí.</p>
      </section>


      <section>
        <h2>Analýza a průzkum</h2>

      </section>
      

      <section>
        <h2>Branding a vizuální design</h2>

      </section>


      <section>
        <h2>Fáze návrhu</h2>
        <figure>
          <Picture
          src={design}
          format="avif"
          alt="design"
          widths={[400, 600, 820]}
          sizes="(max-width: 991px) 100vw, 820px"
          class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
          format="avif"/>
          <figcaption>Proces designu webu</figcaption>
        </figure>
      </section>


      <section>
        <h2>Fáze vývoje</h2>

      </section>


      <section>
        <h2>Testování a zajištění kvality</h2>

        <h3>Cloudflare</h3>
        <p>Na webu nám běží scripty od facebook, google, heureka, smartsupp a hotjar. To je slušné zatížení javascriptem třetích stran (a to se dá optimalizovat jen v omezené míře). Takže jsme nasadili řešení Cloudflare Pro. 
          Dosáhli jsme zrychlení o 30% (1.5s) na produktovce, máme také mnohem lepší přehled o bezpečnosti, můžeme využívat service workery, cdn a také firewall.</p>
        
        <h3>PWA</h3>
        <p>Troufám si říct, že jsme jako jeden z prvních (možná úplně první) shopů na shoptetu, který funguje jako progressive web app. Použil jsem knihovnu upup.js a upup.sw.js service worker. Web nám tak funguje i offline a je z něj plnohodnotný instalovatelný PWA.</p>
        
      </section>
    

      <section>
        <h2>Výsledky</h2>
        <p>Na web nám začalo chodit výrazně více lidí z mobilu a také na něm dokončovat objednávku, což byl před redesignem problém, protože web byl dost nepřehledný a pomalý.</p>
      </section>
      

      <section>
        <h2>Závěr</h2>

      </section>

      <section>
        <h2>Redesign 2022</h2>
        <p>Předělaný vizuální styl, modernizace kódu, promazání legacy fukncí a stylů.</p>
      </section>



    </article>
  </Container>
</Layout>