---
import { Picture } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import colors from "../assets/ozeo/colors.png";
import desktopview from "../assets/ozeo/desktop-view.png";
import font from "../assets/ozeo/font.png";
import lighthouse from "../assets/ozeo/lighthouse.png";
import phonedisplay from "../assets/ozeo/phone-display.png";
import wireframe from "../assets/ozeo/wireframe.png";


---

<Layout title="Redesign e-shopu prodejce krmiv a chovatelských potřeb pro domácí zvířat">
  <Sectionhead>
    <Fragment slot="title">
      Redesign e-shopu prodejce krmiv a chovatelských potřeb pro domácí zvířat
    </Fragment>
  </Sectionhead>

  <Container>
    <article class="reference-content">

      <section>
        <ul>
          <li>Název společnosti: PETHOME s.r.o.</li>
          <li>Odvětví: krmiva a chovatelské potřeby</li>
          <li>Cíl: Redesign zaběhnutého e-shopu, který zákazníkům nabídne bezproblémové nakupování online.</li>
          <li>Platforma: PrestaShop</li>
          <li>Časový plán: 2021 - 2022 (7 měsíců od návrhu přes vývoj až po nasazení)</li>
        </ul>
      </section>
        

      <section>
        <h2>Úvod</h2>
        <p>Klient je přední internetový prodejce krmiv a chovatelských potřeb pro domácí zvířata, který působí na českém a slovenském trhu již více než 10 let.</p>
        <p>Chtěl změnit design svého současného e-shopu na CMS PrestaShop, aby poskytl lepší user experience, zvýšil prodej a zjednodušil celkový nákupní proces.</p>
        <p>Projekt byl zaměřen na vylepšení designu, vytvoření responzivního zobrazení a zlepšení funkčnosti webu. Zároveň jsme dbali na jeho optimalizaci pro vyhledávače.</p>
      </section>
      

      <section>
        <h2>Pochopení požadavků klienta</h2>
        <p>Projekt byl zahájen podrobnou diskusí, jejímž cílem bylo nadefinovat specifické požadavky projektu.</p>
        <p>To zahrnovalo pochopení jejich značky, cílové skupiny, kategorií produktů a požadovaných funkcí.</p>
      </section>



      <section>
        <h2>Analýza a průzkum</h2>
        <p>Na začátku procesu redesignu jsme provedli důkladnou analýzu stávajících webových stránek, abychom zjistili jejich silné a slabé stránky.</p>
        <p>Shromáždili jsme také zpětnou vazbu od klienta a jeho zákazníků, abychom pochopili jejich bolavá místa a oblasti, které je třeba zlepšit.</p>
        <p>Na základě analýzy jsme identifikovali několik klíčových problémů webu, včetně nepřehledné domovské stránky, matoucího navigačního systému a pomalého načítání</p>
        <p>Zjistili jsme také, že web nebyl dostatečně optimalizován pro vyhledávače, což omezovalo jeho viditelnost ve výsledcích vyhledávání.</p>
      </section>
      

      <section>
        <h2>Branding a vizuální design</h2>
        <p>Jednou z výzev při navrhování obchodu s krmivy pro domácí zvířata je vytvořit vizuálně přitažlivé webové stránky a zároveň usnadnit zákazníkům nalezení toho, co hledají.</p>
        <p>Po schválení wireframů byly do návrhu začleněny prvky brandingu a vytvořili jsme vizuální styl, který částečně vycházel z původní podoby e-shopu.</p>
        <p>To zahrnovalo výběr barevných schémat, typografie a obrázků, které byly v souladu s identitou značky Pethome a vytvářely poutavé uživatelské prostředí.</p>
      </section>


      <section>
        <h2>Fáze návrhu</h2>
        <p>Wireframing a návrh makety: Po shromáždění požadavků klienta bylo dalším krokem vytvoření wireframů a návrhů mockupů webových stránek.</p>
        <p>To zahrnovalo návrh rozvržení, navigace a prvků uživatelského rozhraní (UI), aby byl zajištěn intuitivní a vizuálně přitažlivý design.</p>
      </section>


      <section>
        <h2>Fáze vývoje</h2>
        <p>Na web jsme také přidali několik nových funkcí, které byly navrženy tak, aby zlepšily zapojení a udržení zákazníků - systém hodnocení produktů, věrnostní program a formulář pro odběr novinek.</p>
        <p>Tyto funkce byly navrženy tak, aby zlepšily zapojení a udržení zákazníků.</p>
        <p>Co se týče vývoje, optimalizovali jsme web pro vyhledávače tím, že jsme zlepšili strukturu webu, přidali relevantní klíčová slova a meta tagy a rozvinuli sekci blogu, která poskytovala čerstvý a poutavý obsah.</p>
        <p>Provedli jsme také několik technických vylepšení, například optimalizaci rychlosti načítání webu a zlepšení jeho odezvy na mobilní zařízení.</p>
      </section>


      <section>
        <h2>Testování a zajištění kvality</h2>
        <p>Bylo provedeno důkladné testování a zajištění kvality, aby bylo zajištěno, že webové stránky neobsahují chyby, jsou uživatelsky přívětivé a fungují bez problémů v různých prohlížečích a zařízeních.</p>
        <p>To zahrnovalo testování funkcí, jako je prohlížení produktů, správa košíku, proces pokladny a zpracování plateb.</p>
        <p>Také bylo potřeba sledovat výkon webu, provádět opravy chyb a aktualizovat obsah, zásuvné moduly a bezpečnostní opatření.</p>
      </section>
    

      <section>
        <h2>Výsledky</h2>
        <p>Přepracované webové stránky byly úspěšně spuštěny a získaly pozitivní zpětnou vazbu od klienta i jeho zákazníků.</p>
        <p>Responzivní design zajistil, že webové stránky byly přístupné a funkční na různých zařízeních, což vedlo ke zvýšení zapojení zákazníků a míry konverze.</p>
        <p>Nové funkce, jako je systém hodnocení produktů a věrnostní program, pomohly zlepšit zapojení a udržení zákazníků.</p>
        <p>Zlepšená optimalizace webu pro vyhledávače také vedla ke zvýšení viditelnosti ve výsledcích vyhledávání, což pomohlo přilákat nové zákazníky.</p>
      </section>
      

      <section>
        <h2>Závěr</h2>
        <p>Přepracování e-shopu Pethome bylo pro našeho klienta velkým úspěchem. Nový design a funkce zlepšily uživatelský komfort a pomohly zvýšit prodej a udržení zákazníků.</p>
        <p>Technická vylepšení vedla také k lepší optimalizaci pro vyhledávače, což pomohlo přilákat na web nové zákazníky.</p>
        <p>Celkově byl projekt skvělým příkladem toho, jak může redesign stávajících webových stránek vést k výraznému zlepšení obchodních výsledků.</p>
      </section>

    </article>
  </Container>
</Layout>