---
import { Picture } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";




---

<Layout title="Vytvoření e-shopu s ručně háčkovanými produkty">
  <Sectionhead>
    <Fragment slot="title">
      Vytvoření e-shopu s ručně háčkovanými produkty
    </Fragment>
  </Sectionhead>

  <Container>
    <article class="reference-content">

      <a href="https://www.tavisa.cz" class="btn">Navštívit stránky Tavisa.cz</a>
      <br>

      <section>
        <ul>
          <li>Název společnosti: Tavisa</li>
          <li>Odvětví: Dekorace a hračky</li>
          <li>Cíl: Design nového e-shopu, který zákazníkům nabídne bezproblémové nakupování.</li>
          <li>Platforma: Shoptet</li>
          <li>Časový plán: 2023-2024</li>
        </ul>
      </section>

      <section>
        <h2>Úvod</h2>

      </section>
      

      <section>
        <h2>Pochopení požadavků klienta</h2>

      </section>


      <section>
        <h2>Analýza a průzkum</h2>

      </section>
      

      <section>
        <h2>Branding a vizuální design</h2>

      </section>


      <section>
        <h2>Fáze návrhu</h2>

      </section>


      <section>
        <h2>Fáze vývoje</h2>

      </section>


      <section>
        <h2>Testování a zajištění kvality</h2>

      </section>
    

      <section>
        <h2>Výsledky</h2>

      </section>
      

      <section>
        <h2>Závěr</h2>

      </section>

    </article>
  </Container>
</Layout>