---
import { Picture } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import colors from "../assets/ozeo/colors.png";
import desktopview from "../assets/ozeo/desktop-view.png";
import font from "../assets/ozeo/font.png";
import lighthouse from "../assets/ozeo/lighthouse.png";
import phonedisplay from "../assets/ozeo/phone-display.png";
import wireframe from "../assets/ozeo/wireframe.png";


---

<Layout title="Tvorba nového e-shopu pro prodejce moderního nábytku a bytových doplňků">
  <Sectionhead>
    <Fragment slot="title">
      Tvorba nového designu pro e-shop prodávající víno
    </Fragment>
  </Sectionhead>

  <Container>
    <article class="reference-content">


      <section>
        <ul>
          <li>Název společnosti: Víno přikryl</li>
          <li>Odvětví: Potraviny a alkohol</li>
          <li>Cíl: Design nového e-shopu, který zákazníkům nabídne bezproblémové nakupování.</li>
          <li>Platforma: Shoptet</li>
          <li>Časový plán: 2022</li>
        </ul>
      </section>
        
      <h2>Přehled</h2>
      <p>Text se připravuje</p>
      <span class="hidden">
        Adresa URL webových stránek: 
        [Vložte adresu URL webové stránky]

        Datum zahájení projektu: 
        [Vložte datum zahájení]
        Datum ukončení projektu: 
        [Vložte datum ukončení]

        Pozadí
        Popis problému: [Stručně popište problém, který chtěl klient vyřešit vytvořením nebo redesignem svých webových stránek].
        Cíle: [Vyjmenujte cíle nebo záměry, kterých chtěl klient pomocí svých webových stránek dosáhnout].

        Proces
        Fáze zjišťování: [Popište průzkum a analýzu, které jste provedli, abyste porozuměli potřebám klienta, cílové skupině a trendům v odvětví]
        Fáze strategie: [Vysvětlete strategii, kterou jste vytvořili pro řešení problému klienta a dosažení jeho cílů]
        Fáze návrhu: [Popište vizuální design, informační architekturu a uživatelské prostředí, které jste vytvořili pro webové stránky]
        Fáze vývoje: [Vysvětlete technickou realizaci webových stránek, včetně použitých programovacích jazyků, systému pro správu obsahu a hostingové platformy].
        Fáze testování: [Popište proces testování a zajištění kvality, který jste použili k zajištění toho, aby webové stránky splňovaly požadavky klienta a byly uživatelsky přívětivé]
        Fáze spuštění: [Vysvětlete kroky, které jste podnikli ke spuštění webových stránek a jejich uvedení do provozu na internetu].

        Výsledky
        Metriky: [Uveďte metriky, které jste použili k měření úspěšnosti webových stránek, například návštěvnost, konverze nebo zapojení].
        Výsledky: [Popište výsledky webu, včetně případného zlepšení sledovaných metrik a zpětné vazby od klienta nebo uživatelů].
        Získané zkušenosti: [Zamyslete se nad tím, co jste se z projektu naučili, včetně toho, co fungovalo dobře a co by se dalo zlepšit v budoucích projektech].

        Závěr
        Shrnutí: [Uveďte stručné shrnutí projektu, včetně problému, cílů, postupu a výsledků].
        Plány do budoucna: [Popište případné budoucí plány pro webové stránky, například průběžnou údržbu, aktualizace nebo nové funkce].
        Svědectví: [Uveďte svědectví klienta nebo uživatele webových stránek].
        Neváhejte tuto šablonu upravit podle svých potřeb a přidat další oddíly nebo informace, které jsou podle vás pro případovou studii vašeho webu relevantní.
      </span>
    </article>
  </Container>
</Layout>