---
import Link from "./ui/link.astro";
import Container from "@components/container.astro";
---

<div class="bg-black py-16 mx-auto w-100 flex flex-col items-center text-center md:px-20 md:py-32">
  <Container>
    <h2 class="text-white text-3xl font-bold max-w-3xl pb-8 mx-auto leading-normal md:text-4xl md:leading-normal">
      Máte zájem o nezávazné posouzení vašeho e-shopu a nebo potřebujete pomoc s vývojem nového projektu?
    </h2>

    <div class="flex gap-4 flex-wrap mt-5 items-center justify-center">
      <Link href="mailto:info@janheder.cz" style="inverted">info@janheder.cz</Link>
      <Link href="tel:+420731061436">+420 731 061 436</Link>
    </div>
  </Container>
</div>

