---
import { Icon } from "astro-icon";
import Container from "@components/container.astro";
---
<footer class="py-12">
  <Container>
    <p class="text-center text-sm text-slate-500 flex items-center justify-center">
      Copyright © {new Date().getFullYear()} Jan Heder. Vytvořeno s
      <Icon class="h-4 md:h-4 px-2" name="simple-icons:astro" /> &
      <Icon class="h-4 md:h-4 px-2" name="simple-icons:tailwindcss" />
    </p>
  </Container>
</footer>
