---
import { Picture } from "@astrojs/image/components";
import Container from "@components/container.astro";

import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---
<style>
  main{
    background-image:url('../assets/hero-bg.png');
  }
</style>
<main class="bg-black bg-no-repeat bg-cover pt-32 pb-24 lg:pt-72 lg:pb-64 relative">
  <Container>

    <div class="text-center md:text-left">

        <h1 class="text-4xl leading-normal font-bold text-white pb-8 lg:text-5xl xl:text-5xl xl:leading-normal">
          Navrhuji a tvořím skvělé e-shopy,<br />
          které posunou váš byznys na novou úroveň
        </h1>

        <p class="text-xl mt-4 font-normal text-white opacity-80 leading-normal">
          Jmenuji se Jan Heder, jsem freelance webdesigner & front-end developer z Prahy.
        </p>

    </div>

  </Container>
</main>
